<div *ngIf="professorSelecionado">
  <div class="row">
    <div class="me-auto">  
      <app-titulo [titulo]="'Professor: ' + professorSelecionado"></app-titulo>
    </div>
    <div class="mt-1">  
      <button class="btn btn-warning" (click)="voltar()">Lista de Professores</button>
    </div>
  </div>

  <form >
    <div class="form-froup">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" >
    </div>
    <div class="form-froup">
      <label for="formGroupExampleInput">Disciplina</label>
      <input type="text" class="form-control" >
    </div>
  </form>
</div>

<div *ngIf="!professorSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of professores" style="cursor: pointer;"
      (click)="professorSelect(prof)">
        <th scope="row">{{prof.id}}</th>
        <td>{{prof.nome}}</td>
        <td>{{prof.disciplina}}</td>
      </tr>
    </tbody>
  </table>
</div>
